@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--red:			#d92323;
	--dark-red :	#732424;
	--grey :		#7b7b7b;
}

body{
	height: 100vh;
	background-color: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-family: Arsenal;
}
p{
	margin: 0;
	padding: 0;
}
.main-window{
	display: flex;
	flex-direction: column;
	/* border: black 1px solid; */
	width: 90%;
	max-width: 1200px;
	height: 700px;
}
.confidants-row{
	display: flex;
	outline: none;
	align-items: baseline;
	flex-wrap: nowrap;
	overflow-x: scroll;
	scrollbar-width: none;
	height: 170px;
	padding: 0px 18px;
}
.scroll::-webkit-scrollbar {
	display: none;
}
.confidant-card{
	cursor: pointer;
	align-self: baseline;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	width: 120px;
	flex-shrink: 0;
	margin-right: 12px;
	margin-top: 12px;
}
.confidant-header{
	position: relative;
	height: 100px;
	width: 100px;
	overflow: visible;
}
.confidant-pfp, .confidant-pfp2, .confidant-pfp3, .confidant-banner {
	transition: all 0.3s;
}
.confidant-pfp{
	position: absolute;
	width: 96px;
	left: -5px;
	top: 0;
}
.confidant-pfp2{
	position: absolute;
	width: 96px;
	top: 0;
	left: -2px;
}
.confidant-pfp3{
	position: absolute;
	width: 96px;
	left: 0;
	top: 0;
}
.point{
	z-index: 8;
	position: absolute;
	top: -32px;
	right: -32px;
	opacity: 0;
	transition: all 0.3s;
}
.point.selected{
	top: 32px;
	right: 8px;
	opacity: 1;
}
.confidant-body{
	perspective: 100px;
	width: 120px;
	height: 40px;
	position: relative;
	text-align: center;
}
.confidant-name{
	transform: rotateY(0deg);
	position: relative;
	z-index: 1;
	font-weight: 700;
	color: white;
	transition: all 0.3s;
}
.bg-white{
	color: black;
	background-color: white;
}
.confidant-banner{
	z-index: 0;
	fill: black;
	stroke: black;
	position: absolute;
	width: 125px;
	top: -9px;
	left: -1px;
}

.sm-text{
	font-size: calc(0.9rem);
}
.md-text{
	font-size: 1rem;
}
.xs-text{
	margin-top: 4px;
	font-size: 0.75rem;
}

/* custom scrollbar code */
.main-header{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.custom-scrollbar-container{
	align-self: center;
	display: flex;
	align-items: center;
	position: relative;
	background-color: transparent;
	height: 60px;
	width: 60%;
}
.custom-scrollbar-background{
	height: 100%;
	width: 100%;
}
.custom-scrollbar{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	fill: white;
	stroke: black;
	stroke-width: 3px;
	stroke-linejoin: miter;
	cursor: grab;
}

/* Confidant cards animation */
.confidant-card:hover .confidant-pfp:not(.selected){
	left: -14px;
	top: -6px;
}
.confidant-card:hover .confidant-pfp2:not(.selected){
	left: -10px;
	top: -4px;
}
.confidant-card:hover .confidant-pfp3:not(.selected){
	left: -5px;
	top: -2px;
}
.confidant-pfp.selected{
	position: absolute;
	width: 96px;
	left: 0px;
	top: 0;
}
.confidant-pfp2.selected{
	position: absolute;
	width: 96px;
	top: 0;
	left: 0px;
}
.confidant-pfp3.selected{
	position: absolute;
	width: 96px;
	left: 0;
	top: 0;
}

.confidant-card:hover .confidant-banner:not(.selected){
	width: 150px;
	top: -12px;
	left: -18px;
	transform-origin: 50% 50%;
	animation: banner-anim;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}
.confidant-card:hover .confidant-name:not(.selected){
	animation: panning 0.3s ease 0s normal,
			name-anim 2s linear 0.29s infinite;
}
.confidant-card:not(:hover) .confidant-name:not(.selected){
	animation: unpanning 0.3s ease 0s normal forwards;
}

@keyframes banner-anim{
	0% {
		transform: rotateZ(0deg);
		width: 150px;
		top: -12px;
		left: -18px;
	}
	10% {
		transform: rotateZ(2deg);
		width: 154px;
		top: -13px;
		left: -20px;
	}
	20% {
		transform: rotateZ(1deg);
		width: 158px;
		top: -14px;
		left: -22px;
	}
	30% {
		transform: rotateZ(-1deg);
		width: 154px;
		top: -13px;
		left: -20px;
	}
	40% {
		transform: rotateZ(2deg);
		width: 150px;
		top: -12px;
		left: -18px;
	}
	50% {
		transform: rotateZ(0deg);
		width: 154px;
		top: -13px;
		left: -20px;
	}
	60% {
		transform: rotateZ(-1deg);
		width: 150px;
		top: -12px;
		left: -18px;
	}
	70% {
		transform: rotateZ(1deg);
		width: 146px;
		top: -11px;
		left: -16px;
	}
	80% {
		transform: rotateZ(3deg);
		width: 142px;
		top: -10px;
		left: -14px;
	}
	90% {
		transform: rotateZ(1deg);
		width: 146px;
		top: -11px;
		left: -16px;
	}
	100% {
		transform: rotateZ(0deg);
		width: 150px;
		top: -12px;
		left: -18px;
	}
}

@keyframes name-anim{
	0% {
		transform: 
		rotateY(15deg) 
		rotateZ(0deg) 
		scale(1.3);
	}
	20% {
		transform: 
		rotateY(15deg) 
		rotateZ(-1deg) 
		scale(1.3);
	}
	40% {
		transform: 
		rotateY(15deg) 
		rotateZ(1deg) 
		scale(1.3);
	}
	60% {
		transform: 
		rotateY(15deg) 
		rotateZ(-1deg) 
		scale(1.3);
	}
	80% {
		transform: 
		rotateY(15deg) 
		rotateZ(0deg) 
		scale(1.3);
	}
	100% {
		transform: 
		rotateY(15deg) 
		rotateZ(1deg) 
		scale(1.3);
	}
}
@keyframes panning {
	from {
		transform: 
		rotateY(0deg)
		scale(1);
	}
	to {
		transform:
		rotateY(15deg)
		scale(1.3);
	}
}

@keyframes unpanning {
	from {transform: rotateY(15deg) scale(1.3);}
	to {transform: rotateY(0deg) scale(1);}
}

@media screen and (max-width: 900px){
	.custom-scrollbar-container{
		width: 90%;
	}
}

/* body */

.main-body{
	background-image: url('../img/joker-bg.png');
	background-repeat: no-repeat;
	background-size: contain;
	height: 460px;
	position: relative;
	perspective: 200px;
}
.confidant-text-box{
	z-index: 0;
	top: 0;
	left: 0;
	position: absolute;
	stroke: white;
	stroke-width: 8px;
	stroke-linejoin: miter;
	fill: rgba(0, 0, 0, 0.893);
}
.confidant-content{
	position: relative;
	z-index: 1;

	font-size: 24px;
	color: white;

	margin-left: 235px;
	margin-right: 120px;	
	margin-top: 15px;
	height: 400px;

	overflow: visible;
	scrollbar-width: none;
}
.confidant-content-transformation{
	transform: 	rotateZ(2deg) 
				rotateX(8deg)
				rotateY(2deg);
}
.mirror{
	position: fixed !important;
	top: 0px !important;
	visibility: hidden !important;
	width: 845px !important;
}
.confidant-scroll-bg{
	position: absolute;
	fill: white;
	stroke: black;
	stroke-width: 8px;
	stroke-linejoin: miter;
	top: 0;
	right: 0;
	width: 80px;
}
.confidant-scroll-thumb{
	stroke: white;
	stroke-width: 8px;
	stroke-linejoin: miter;
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	cursor: grab;
}
.content-header-a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 160px;
}
.content-header-b{
	position: absolute;
	z-index: 2;
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	height: 1px
}
.content-pfp-container{
	margin-left: 12px;
	width: 256px;
	height: 162px;
	position: relative;
	perspective: 300px;
}
.content-pfp-bg{
	width: 57%;
	position: absolute;
	top: -36px;
	left: -16px;
}
.content-pfp{
	width: 60%;
	position: absolute;
	top: -35px;
	left: -12px;
}

.content-info-container{
	flex: 1;
	height: 100%;
}
.content-info{
	padding: 12px;
}
.content-name{
	top: unset;
	bottom: -5px;
	left: -40px;
	height: 96px;
	position: absolute;
}
.cn-top{
	top: 20px;
	bottom: unset !important;
	left: -80px !important;
	height: 128px !important;
}
.content-arcana{
	position: absolute;
	top: -35px;
	right: 70px;
	height: 100%;
	animation: arcana-anim 8s linear 0s infinite forwards;
}
.content-body{
	position: relative;
	z-index: 1;
	/* background-color: black; */
    margin-top: 12px;
	overflow-y: scroll;
	scrollbar-width: none;
	height: 235px;
}
.maximized{
	padding-top: 50px;
	height: 355px !important;
}
@keyframes arcana-anim {
	0%{
	transform: 	rotateX(-10deg)
				rotate(10deg)
				rotateY(0deg);
	}
	100%{
	transform: 	rotateX(-10deg)
				rotate(10deg)
				rotateY(360deg);
	}
}

.paint-effect{
	position: relative;
}
.paint-effect-svg-unlock{
	position: absolute;
	width: 120%;
	fill: white;
	z-index: -1;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.paint-effect-svg-arcana{
	position: absolute;
	width: 180%;
	fill: rgb(255, 255, 255);
	z-index: -1;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 60%;
}
.tittle{
	color: black;
	font-weight: 700;
	margin-bottom: 8px;
}
.subtitle{
    margin-bottom: 8px;
}
.rank{
    margin-left: 18px;
    font-weight: 700;
    font-size: 32px;
    height: auto;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000,
         0   -2px 0 #000,
         0    2px 0 #000,
        -2px  0   0 #000,
         2px  0   0 #000;
}
.effect{
    font-size: 20px;
    margin-left: 18px;
}
.dialog-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.question{
    position: relative;
    display: flex;
    justify-content: end;
    width: 60%;
    margin-right: auto;
}
.question-text{
	position: relative;
	min-height: 60px;
    font-size: 22px;
    width: 70%;
    margin-right: 10%;
	z-index: 1;
}
.question-svg{
    z-index: -1;
	fill: black;
	stroke: white;
    stroke-width: 30px;
    position: absolute;
	width: 100%;
	z-index: -1;
	transform: translate(0%, -20%);
}
.best-answer{
    position: relative;
    display: inline-block;
	min-height: 30px;
    min-width: 150px;
    max-width: 270px;
    margin-left: auto;
    margin-right: 80px;
    margin-top: 60px;
}
.answer-text{
    display: block;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 18px;
	transform: rotatez(5deg);
}
.answer-svg{
    z-index: -1;
	fill: white;
	stroke: black;
    stroke-width:0.5px;
    position: absolute;
	width: 170%;
	z-index: -1;
	transform: translate(-10%, -30%);
}
.bold{
    font-weight: 700;
}
.disable{
	display: none !important;
}
.toggle-header-container{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;

	right: -20px;
	top: -30px;
	width: 30px;
	height: 30px;
	
	cursor: pointer;
	background-color: black;
	border: solid;
	border-color: white;
}
.toggle-header-sign{
	pointer-events: none;	
}
.centered{
	width: 100%;
	text-align: center;
}
.margined{
	margin-right: 60px;
}
.rank-counter-container{
	position: absolute;
	right: 70px;
	top: 80px;
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 1s, transform 0.2s ease-out;
}
.show{
	opacity: 1 !important;
}
.rank-svg{
	width: 100%;
	position: absolute;
	stroke: white;
	stroke-width: 1px;
	stroke-linejoin: miter;
	z-index: 0;
}
.rank-counter-text{
	font-size: 22px;
	font-weight: 700;
	position: relative;
	z-index: 1;
	color: white;
}